body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff !important;
}

.app {
  margin-top: 48px;
  background: #fff;
}


.am-list-header,.am-list-footer{
  padding: 0 !important;
}