body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff !important;
}

ul, ol {
  margin:0;
  padding: 0;
}

.app {
  margin-top: 1.6rem;
  background: #fff;
}

.noScroll {
  overflow: hidden;
  height: 80vh;
}

.canScroll {
  overflow: auto
}


.am-list-header,.am-list-footer{
  padding: 0 !important;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  /* height: 100vh; */
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
}